@charset "UTF-8";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: all;
}


#wrap {
	width: 1200px;
	margin: auto;
}

.main-header {
	background-color: #FEF5ED;
	/* position: fixed;
	top: 0;
	width: 100%; */
}

header {
	width: 1000px;
	height: 90px;
	align-items: center;
}

header .header-logo {
	width: 200px;
	height: 60px;
	font-family: "Nanum Gothic", sans-serif;
}

header .header-user-nav {
	width: 300px;
	/* font-family: "Nanum Gothic", sans-serif; */
}

.header-user-nav .user-nav-text {
	color: #665A48;
}

.header-user-nav .user-nav-text:hover {
	color: darkgray;
}

.header-user-nav .user-nav-loginId {
	color: #483838;
}

.header-main-nav {
	width: 1000px;
	background-color: #C2DED1;
	/*font-family: "Nanum Gothic", sans-serif;*/
	color: #FEF5ED;
	border-radius: 10px;
}

.header-main-nav .nav-text {
	color: #665A48;
	font-size: large;
}

/* body */


	/*
	.container {
		padding-top: 120px;
	}
	*/

.container .outer-form {
	background-color: #E4DCCF;
	border-radius: 2%;	
}

.outer-form-text {
	background-color: #E4DCCF;
	border-radius: 10px;
}

	/* bookDetail - review */

.container .review-div {
	width: 700px;
}

.container .review-textarea {
	width: 560px;
}

	/* main - table */

.main-table {
	table-layout: fixed;
	word-break: break-all;
	width: 800px;
}

.bestseller-cover {
	width: 100px;
	height: 150px;
	object-fit: contain;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* a tag */

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
}



/* button */

.w-btn-outline {
    position: relative;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.25s;
}

.w-btn-color-outline {
	border: 3px solid #E4DCCF;
	background-color: white;
	color: darkgray;
	font-weight: bold;
}

.w-btn-color-outline:hover {
    background-color: #E4DCCF;
    color: darkgray;
    font-weight: bold;
}

.w-btn-color-outline-non {
	border: 2px solid #E4DCCF;
	background-color: white;
	color: darkgray;
	font-weight: bold;
}

.w-btn-color {
	border: 2px solid #E4DCCF;
	background-color: #E4DCCF;
	color: #E4DCCF;
	font-weight: bold;
}

.w-btn-color:hover {
	border: 2px solid #E4DCCF;
	background-color: white;
	color: darkgray;
	font-weight: bold;
}

.link-text {
	color: #ccbea6;
	font-weight: bold;
}

.link-text:hover {
	color: darkgray;
	font-weight: bold;
}

	
/* select */

select {
	border-radius: 3px;	
}

/* font */


body {
	font-family: "Cafe24SsurroundAir";
	font-weight: bold !important;
}



/* icon */

.bi-search {
	font-size: medium;
	width: 40px;
}

.bi-arrow-left-short {
	font-size: 35px;
}

.bi-star-fill-avg {
	font-size:60px;
}

.bi-star-fill-list {
	font-size:20px;
}
