@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

#wrap {
	width: 1200px;
	margin: auto;
}

.main-header {
	background-color: #FEF5ED;
	/* position: fixed;
	top: 0;
	width: 100%; */
}

header {
	width: 1000px;
	height: 90px;
	align-items: center;
}

header .header-logo {
	width: 200px;
	height: 60px;
	font-family: "Nanum Gothic", sans-serif;
}

header .header-user-nav {
	width: 300px;
	font-family: "Nanum Gothic", sans-serif;
}

.header-user-nav .user-nav-text {
	color: #665A48;
}

.header-user-nav .user-nav-loginId {
	color: #483838;
}

.header-main-nav {
	width: 1000px;
	background-color: #C2DED1;
	font-family: "Nanum Gothic", sans-serif;
	color: #FEF5ED;
}

.header-main-nav .nav-text {
	color: #665A48;
	font-size: large;
}

/*
.container {
	padding-top: 120px;
}
*/

.container .outer-form {
	background-color: #E4DCCF;
	border-radius: 2%;	
}



/* a tag */

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}



/* button */

.w-btn-outline {
    position: relative;
    border-radius: 7px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-color-outline {
	border: 3px solid #E4DCCF;
	background-color: white;
	color: darkgray;
}

.w-btn-color-outline:hover {
    background-color: #E4DCCF;
    color: darkgray;
}

.w-btn-color-outline-non {
	border: 2px solid #E4DCCF;
	background-color: white;
	color: darkgray;
}

.w-btn-color {
	border: 2px solid #E4DCCF;
	background-color: #E4DCCF;
	color: #E4DCCF;
}

.w-btn-color:hover {
	border: 2px solid #E4DCCF;
	background-color: white;
	color: darkgray;
}

.link-text {
	color: #ccbea6;
}

	
/* select */

select {
	border-radius: 3px;	
}


/* icon */

.bi-search {
	font-size: medium;
	width: 40px;
}

.bi-arrow-left-short {
	font-size: 35px;
	
}
